header {
  background-image: url("../imagens/topo.jpg");
  background-position: center right;
  width: auto;
  height: 500px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: yellow;
  text-align: right;
}

li {
  display: inline-block;
  padding-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
}
